<header class=" d-flex align-items-center justify-content-between" id="main-header">
  <div class="row row-cols-2 ">
      <div class="cajainfo">
          <div class="d-flex align-items-center">
              <i class="bi bi-telephone iconn"></i>
              <p class="text">Call us now <br>  +123 4567 890</p>
          </div>
      </div>
      <div class="cajainfo">
          <div class="d-flex align-items-center">
              <i class="bi bi-stopwatch iconn"></i>
              <p class="text">Monday - friday <br> 9:00 AM - 8:00 PM</p>
          </div>
      </div>
  </div>
  <div class="d-flex justify-content-center" id="espacio">
      <img src="assets/logo5.svg" alt="" width="164px" height="36px">
  </div>
  <div class="d-flex flex-row ">
      <div class="iconcolor spce">
          <div class="row row-cols-6">
              <div class="col"><i class="bi bi-facebook"></i></div>
              <div class="col"><i class="bi bi-twitter"></i></div>
              <div class="col"><i class="bi bi-instagram"></i></div>
              <div class="col"><i class="bi bi-vimeo"></i></div>
              <div class="col"><i class="bi bi-youtube"></i></div>
              <div class="col"><i class="bi bi-pinterest"></i></div>
          </div>
      </div>
      <div class="cajaconsulta tam"> Free Consultation</div>
  </div>
</header>