<footer id="main-footer">
<ul class="nav justify-content-around" id="bgcolor">
    <li class="nav-item lado1">
        © Copyrights CodexThemes
    </li>
    <li class="nav-item medio">
        <div class="row row-cols-4">
            <div class="coli">Suport</div>
            <div class="coli">|</div>
            <div class="coli">Contact Us</div>
            <div class="coli">|</div>
            <div class="coli">Disclaimer</div>
            <div class="coli">|</div>
            <div class="coli">Add More</div>
        </div>
    </li>
    <li class="nav-item lado2">
        <div class="row row-cols-6">
            <div class="col" id="colf"><i class="bi bi-facebook"></i></div>
            <div class="col"id="colt"><i class="bi bi-twitter"></i></div>
            <div class="col" id="colin"><i class="bi bi-instagram"></i></div>
            <div class="col" id="colv"><i class="bi bi-vimeo"></i></div>
            <div class="col" id="coly"><i class="bi bi-youtube"></i></div>
            <div class="col" id="colws"><i class="bi bi-whatsapp"></i></div> 
        </div>
    </li>
    
  </ul>
</footer>